/*rgb(214, 146, 56); */
body {
    --main-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--main-color);
    font-family: Chalkduster, fantasy;
    background-color: rgb(39, 38, 41);
}

h1 {
    font-size: 50px;
    margin: 0;
    margin-top: 10px;
}

#dark-light-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

#dark-light-btn:hover {
    color: gray;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
}

#player-selection-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player-selection {
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--main-color);
}

.selection-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.selection-btn i {
    font-size: 70px;
}

.selection-btns {
    display: flex;
}

#p1-btn-container > button:hover {
    text-shadow: 0px 0px 30px rgb(42, 141, 233);
    font-size: 25px;
}

.p1-clicked {
    color: rgb(42, 141, 233);
}

#p2-btn-container > button:hover {
    text-shadow: 0px 0px 30px rgb(199, 37, 8);
    font-size: 25px;
}

.p2-clicked {
    color: rgb(199, 37, 8);
}

#vs-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#vs {
    margin: 0 10px 0 10px;
    font-size: 25px;
}

.edit-btn {
    display: none;
    font-size: 15px;
}

#p1-edit-btn:hover {
    color: rgb(42, 141, 233);
}

#p2-edit-btn:hover {
    color: rgb(199, 37, 8);
}

.name-container {
    display: flex;
}

input {
    display: none;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid var(--main-color);
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 150px;
}

#start-btn {
    margin-top: 20px;
    font-size: 35px;
}

#start-btn:hover {
    font-size: 40px;
}

#error-message {
    color: rgb(226, 140, 122);
}

#game-session {
    display: none;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreboard > div, h2, p {
    margin: 2px 0 2px 0;
}

.player-mark {
    font-size: 40px;
    margin: auto;
    margin-right: 10px;
}

.player-info {
    display: flex;
}

.x-mark {
    color: rgb(42, 141, 233);
}

.o-mark {
    color: rgb(199, 37, 8);
}

.player-name {
    font-size: 35px;
}

.player-score {
    font-size: 30px;
    margin-left: 10px;
}

#game-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
}

.grid-row {
    display: flex;
}

.grid-box {
    width: 125px;
    height: 125px;
    font-size: 120px;
}

.top  {
    border-bottom: 3px solid var(--main-color);
}

.bottom {
    border-top: 3px solid var(--main-color);
}

.left {
    border-right: 3px solid var(--main-color);
}

.right {
    border-left: 3px solid var(--main-color);
}

#turn-display {
    font-size: 30px;
    margin: 10px;
}

#restart-btns-container {
    display: none;
    margin-top: 10px;
}

.restart-btn {
    font-size: 20px;
    border: 5px solid var(--main-color);
}

.restart-btn:hover {
    box-shadow: 0px 0px 20px var(--main-color);
}
